name: Publish Docker image

on:
  push:
    branches: ["master", "php*"]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: lojassimonetti/php-apache-oci8-composer
          tags: |
            type=ref,event=branch,enable=true
            type=ref,event=tag,enable=true

      - name: Should push?
        id: shoudPush
        run: |
          if [[ ${{ github.event.ref }} =~ ^refs/heads/php[0-9]dot[0-9]$ ]]; then
              echo "match=true" >> $GITHUB_OUTPUT
          elif [[ ${{ github.event.ref }} = "refs/heads/master" ]]; then
              echo "match=true" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ steps.shoudPush.outputs.match == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  push_children:
    name: Push children Docker image to Docker Hub
    runs-on: ubuntu-latest

    needs:
      - push_to_registry

    strategy:
      matrix:
        variation:
          - pgsql

    permissions:
      packages: write
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: lojassimonetti/php-apache-oci8-composer
          tags: |
            type=ref,event=branch,enable=true,suffix=-${{ matrix.variation }}
            type=ref,event=tag,enable=true,suffix=-${{ matrix.variation }}

      - name: Should push?
        id: shoudPush
        run: |
          if [[ ${{ github.event.ref }} =~ ^refs/heads/php[0-9]dot[0-9]$ ]]; then
              echo "match=true" >> $GITHUB_OUTPUT
          elif [[ ${{ github.event.ref }} = "refs/heads/master" ]]; then
              echo "match=true" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.${{ matrix.variation }}
          push: ${{ steps.shoudPush.outputs.match == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
